# Node modules
/node_modules/

# Build output
/dist/
build/

# Environment files
.env
.env.*.local

# Logs
logs/
*.log
*.log.*

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/

# Optional: If you're using the package-lock file with npm (for consistency)
package-lock.json

# Optional: If you're using the yarn.lock file (for consistency)
yarn.lock

# Optional: If you're using TypeScript and want to ignore the compiled output
*.tsbuildinfo
